@model Collaborate.Models.LoginViewModel

<div class="navbar navbar-right">
    <span style="color:gray; font-size:1.3em;">@Model.Username</span> @Html.ActionLink("Logout", "Logout", "Social", htmlAttributes: new { @style = "margin-left:20px;" })

</div>


